---
name: Validate definitions


on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.8

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Lint YAML files
        run: |
          yamllint --format github --strict \
            device-types/ module-types/

      - name: Run tests
        run: pytest --tb=short -v
